<h2><center>THE CHINESE UNIVERSITY OF HONG KONG<br /> 
    Department of Mathematics<br />
 MATH4280<br />
    Innovation and Design in Big Data Analytics</center></h2>

# LAB ASSIGNMENT ACTIVITY 2

In [1]:
import pandas as pd
import numpy as np

# Question 1
## How to find all the local minima (or troughs) in a 1d array?
Write a function to find all the troughs in a 1D numpy array `a`. Troughs are points surrounded by larger values on both sides.

(Hence elements at both ends will not be considered as troughs in any case.)

1st Example input:

```
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
```

1st Example output:

```
 array([3, 6])
```

where, 3 and 6 are the positions of peak values 1 and 0.

2nd Example input:

```
np.random.seed(100)
a = np.random.randint(10, size=100)
```

2nd Example output:

```
array([ 2,  5,  7, 13, 16, 19, 21, 23, 26, 32, 37, 41, 45, 47, 49, 51, 54,
       56, 58, 60, 62, 66, 68, 75, 77, 79, 82, 84, 88, 90], dtype=int64)
```

In [2]:
## answer 1

def find_troughs(a):
    # input parameter: a is our numpy list.
    # output: returning index of elements which condition met. 
    indices = []
    
    i=1
    
    print(f"\nLength of the vector is: {len(a)}")
    
    # While numpy arrays are zero-indexed, [0,9] is the boundary of the full index.
    # The first and last element won't be troughs. So our loop will run in the range of [1,8]. 
    
    # testing condition:
    # compare the actual value from the index i: a[i], and compare toe neighbors a[i-1], a[i+1]
    # condition: left elt. and right elt larger value 
    # return position of the elt which the condition holds true
    
    # while loop: 
    # Start: we set i = 1 to skip the first element.
    # End: we set the last while loop to run when i = 8,
    # Total: we test 8 elements for 'whether it is a trough' condition.
    
    # So in the for-loop in the code, len(a) - 2 = 8, 
    # So, at the end the code would run the loop in the range of [1,8], which fits our initial setting. 
    
    def is_trough(a,i):
        if (a[i] < a[i-1] and a[i] < a[i+1]):
            return True
        else:
            return False
    
    while i <= len(a)-2:
        
        # printing the current running element for debugging purpose.
        # print(f"current running elt{i}...")
        
        if is_trough(a,i):
            indices.append(i)
        i = i+1
    return indices

def testing_package(a):
    print(f"The original set of random number is: {a}")
    trough_indices = find_troughs(a)
    return a[trough_indices].astype('int64')

print("1st example input (predefined set of values):")
# 1st exampel input:
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])

print("Example output:")
testing_package(a)

1st example input (predefined set of values):
Example output:
The original set of random number is: [1 3 7 1 2 6 0 1]

Length of the vector is: 8

array([1, 0])

In [3]:
print("2nd example input (random 100 numbers):")
# 2nd example input:
# With seed = 100, it set a fixed set of random numbers in the global state of numpy.
np.random.seed(100)
b = np.random.randint(10, size=100)

print("Example output:")
testing_package(b)

2nd example input (random 100 numbers):
Example output:
The original set of random number is: [8 8 3 7 7 0 4 2 5 2 2 2 1 0 8 4 0 9 6 2 4 1 5 3 4 4 3 7 1 1 7 7 0 2 9 9 3
 2 5 8 1 0 7 6 2 0 8 2 5 1 8 1 5 4 2 8 3 5 0 9 3 6 3 4 7 6 3 9 0 4 4 5 7 6
 6 2 4 2 7 1 6 6 0 7 2 3 5 4 2 4 3 7 9 0 0 5 9 6 6 5]

Length of the vector is: 100

array([3, 0, 2, 0, 0, 2, 1, 3, 3, 0, 2, 0, 0, 2, 1, 1, 2, 3, 0, 3, 3, 3,
       0, 2, 2, 1, 0, 2, 2, 3])

# Question 2
## How to change the order of columns of a dataframe?

Enter

## Remark: 

- Be careful about the dataframe parameter. Use the old dataframe! Otherwirse the value of the columns won't swap. 
- The following is a wrong code: 
- ![Alt text](image.png)

In [4]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df.head()

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

## Question 2a
In `df`, interchange columns `'a'` and `'c'`.

In [5]:
## answer 2a

hard_code = ['c','b','a','d','e']
new_df = pd.DataFrame(df, columns=hard_code)
new_df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

## Question 2b

Create a generic function to interchange two columns, without hardcoding column names. 

i.e. a function that takes three arguments (dataframe, column name 1,  column name 2) and outputs the resultant dataframe.

In [6]:
## answer 2b
a## answer 2b

# method 1 would be creating another dataframe, but changing the order of 'columns'
# if the solution is "hand-writing a new-order and plug into it" is easy. 

# Let's try to fetch the header of the dataframe, and then get the index of the heade, and then reverse their order instead.

# learning objective:
# 1. .tolist(): index is not mutable, which means we need to convert it back to a python list to use subscripting.
# 2. We need to use python list either way on the new index creation statement..

def swap_index_of_columns(dataframe, col_a_name, col_b_name):
    all_col_index = dataframe.columns.tolist() #.tolist()
    col_a_index = all_col_index.index(col_a_name)
    col_b_index = all_col_index.index(col_b_name)
    
    # create new index
    all_col_index[col_a_index] = col_b_name
    all_col_index[col_b_index] = col_a_name
    new_index = all_col_index
    return new_index

def swap_columns(dataframe, col_a_name, col_b_name):
    new_column_index = swap_index_of_columns(dataframe, col_a_name, col_b_name)
    new_df = pd.DataFrame(dataframe, columns=new_column_index)
    return new_df

a = df.columns
print(f"the column names are: {a}")

col_a_name = 'a'
col_b_name = 'c'
print(f"the column that we are going to swap is: {col_a_name} and {col_b_name}")

new_df = swap_columns(df,col_a_name, col_b_name)
new_df

the column names are: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
the column that we are going to swap is: a and c

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

## Question 2c
Sort the columns in reverse alphabetical order, that is colume `'e'` first through column `'a'` last.

In [7]:
## answer 2c

def swap_index_of_columns(dataframe,):
    all_col_index = dataframe.columns #.tolist()
    sorted_col_index = all_col_index.sort_values()
    reverse_sorted_index = sorted_col_index[::-1]
    return reverse_sorted_index

def swap_columns(dataframe):
    new_column_index = swap_index_of_columns(dataframe)
    new_df = pd.DataFrame(dataframe, columns=new_column_index)
    return new_df

# test 1
a = df.columns
print(f"the column names are: {a}")
new_df = swap_columns(df)
new_df

the column names are: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

## Question 3

## How to create a new column that contains the row number of nearest column by euclidean distance?

Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

Enter

- Euclidean distance: 

- ![Alt text](image-1.png)

In [8]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df

    p   q   r   s
a  59  40  95  52
b  31  67  25  56
c  18  46  90  46
d  36  17  13  87
e  83  68  93  96
f  21  11   9  90
g  73  31  13  19
h  94  93  45  58
i   1  74  55  93
j  67  17   6  52

Example output:

```
       p	q	r	s	nearest_row	dist
a	28	6	45	72	j	       0
b	18	48	57	30	i	       50
c	70	40	64	32	g	       45
d	27	13	79	89	a,j	       39
e	88	83	54	88	h	       67
f	46	18	79	1	c	       47
g	54	69	85	9	c	       45
h	56	32	36	65	i	       23
i	41	27	25	53	h	       23
j	28	6	45	72	a	       0
 ```

In [39]:
## answer 3
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

# Solution
lis = df.index.tolist() 

"""
# print(lis): ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
"""

# Iterate over rows and print each row
coor_dict = {}
for index, row in df.iterrows(): 
    # 1. df.iterrows() returns a generator. 2. it splits each row into 2 parts. index and row
    coor_dict[index] = row


from math import sqrt

def calculate_distance(current_point,current_coordinate,each_other_point, each_other_coordinate):
    """_summary_

    Args:
        current_point_coordinate (pd.Series): ...
        other_point_coordinate (dict): ...

    Returns:
        _type_: _description_
    """

    # Now, current_point_coordinate and point are pd.Series.
    
    a = current_coordinate['p'] - each_other_coordinate['p']
    b = current_coordinate['q'] - each_other_coordinate['q']
    c = current_coordinate['r'] - each_other_coordinate['r']
    d = current_coordinate['s'] - each_other_coordinate['s']
    dist = sqrt(a**2 + b**2 + c**2 + d**2)

    return dist            

def find_min_values(data):
    min_values = {}
    for key, inner_dict in data.items():
        min_value = min(inner_dict.values())
        
        # consider repeated minimum values here: 
        min_keys = [k for k, v in inner_dict.items() if v == min_value]
        min_values[key] = {k: min_value for k in min_keys}
    return min_values


def book_keeping_distance(dict_of_info):
    
    list_of_points: list[str] = dict_of_info.keys() # list of points: ['a','b',...]
    
    book_keeping_dict = {} # expect to contain - {point_N : nearest_point, min_distance}
    
    # choosing the subject points 
    for point in list_of_points:
        
        # chopping out 2 parts of data from the dataframe
        temp_dict = dict_of_info.copy()
        
        # prepare 2 sets of coordinates
        current_point_coor_pack = temp_dict.pop(point) 
        
        # print(f" current_point_coor_pack: {current_point_coor_pack}")
        
        # Remaining pairs 
        other_points_coordinate =temp_dict
        
        # this dict tries to keep the shortest distance point and its distance.
        min_distance = np.inf # key is the target point, and its distance
        min_dist_point = ""
        
        min_record = {}
        
        # for-loop run totally len(list_of_points) = around 10 times.
        for each_other_point, each_other_coordinate in other_points_coordinate.items(): # 'point' and 'current_point_coordinate' are pd.Series. 
            
            current_point: str = current_point_coor_pack.name
            current_coordinate = current_point_coor_pack
            
            dist = calculate_distance(current_point,current_coordinate,each_other_point, each_other_coordinate)
            
            min_distance = dist
            min_dist_point = each_other_point

            min_record[min_dist_point] = min_distance

        book_keeping_dict[point] = (min_record)
    return book_keeping_dict
        
complete_set_of_dist = book_keeping_distance(coor_dict)
shortest_distances = find_min_values(complete_set_of_dist)

# Convert the dictionary to a DataFrame
df2 = pd.DataFrame([(outer_key, inner_key, value) for outer_key, inner_dict in shortest_distances.items() for inner_key, value in inner_dict.items()],
                   columns=['outer_key', 'nearest_row', 'dist'])

# Merge the two DataFrames based on common keys
result = pd.merge(df, df2, left_index=True, right_on='outer_key', how='left')

# Set the 'outer_key' as the index and drop the 'outer_key' column
result.set_index('outer_key', inplace=True)
result.index.name = None

print(result)

print("The complete set of distance would be: ")
from pprint import pprint
pprint(complete_set_of_dist)

    p   q   r   s nearest_row       dist
a  89  74  26  23           b  56.841886
b  90  73  53  73           h  38.236109
c  87  84  95  84           b  44.888751
d  13  97   7  65           j  45.628938
e  62  35  63  83           b  49.274740
f  11  28  16  59           i  21.307276
g  69  51  94   9           a  75.822160
h  96  97  26  84           b  38.236109
i   9   9  11  51           f  21.307276
j  26  90  17  23           d  45.628938
The complete set of distance would be:
{'a': {'b': 56.84188596448925,
       'c': 92.66067126888301,
       'd': 91.81503144910424,
       'e': 84.96469855181033,
       'f': 97.95917517006765,
       'g': 75.82216034906945,
       'h': 65.56675987114203,
       'i': 107.86102168995063,
       'j': 65.62011886609167},
 'b': {'a': 56.84188596448925,
       'c': 44.88875137492688,
       'd': 93.1933474020544,
       'e': 49.27473997901968,
       'f': 99.15139938498095,
       'g': 81.8657437515839,
       'h': 38.23610858861032,
       'i': 113.6001760562016,
       'j': 90.44888059008801},
 'c': {'a': 92.66067126888301,
       'b': 44.88875137492688,
       'd': 117.26039399558574,
       'e': 63.647466563878254,
       'f': 125.61050911448453,
       'g': 83.89874850079708,
       'h': 70.78841713161836,
       'i': 140.90422278980853,
       'j': 116.45600027478189},
 'd': {'a': 91.81503144910424,
       'b': 93.1933474020544,
       'c': 117.26039399558574,
       'e': 98.51395840184273,
       'f': 69.87131027825369,
       'g': 126.3210196285638,
       'h': 87.24104538575865,
       'i': 89.28605714219886,
       'j': 45.628938186199335},
 'e': {'a': 84.96469855181033,
       'b': 49.27473997901968,
       'c': 63.647466563878254,
       'd': 98.51395840184273,
       'f': 73.72245248226622,
       'g': 82.10968274204937,
       'h': 79.81227975693966,
       'i': 84.92938243034621,
       'j': 100.18482919085105},
 'f': {'a': 97.95917517006765,
       'b': 99.15139938498095,
       'c': 125.61050911448453,
       'd': 69.87131027825369,
       'e': 73.72245248226622,
       'g': 111.70049238924598,
       'h': 112.74307074051158,
       'i': 21.307275752662516,
       'j': 73.25298628724975},
 'g': {'a': 75.82216034906945,
       'b': 81.8657437515839,
       'c': 83.89874850079708,
       'd': 126.3210196285638,
       'e': 82.10968274204937,
       'f': 111.70049238924598,
       'h': 114.42901729893515,
       'i': 118.3934119788766,
       'j': 97.44229061347029},
 'h': {'a': 65.56675987114203,
       'b': 38.23610858861032,
       'c': 70.78841713161836,
       'd': 87.24104538575865,
       'e': 79.81227975693966,
       'f': 112.74307074051158,
       'g': 114.42901729893515,
       'i': 128.94572501638044,
       'j': 93.5467797414748},
 'i': {'a': 107.86102168995063,
       'b': 113.6001760562016,
       'c': 140.90422278980853,
       'd': 89.28605714219886,
       'e': 84.92938243034621,
       'f': 21.307275752662516,
       'g': 118.3934119788766,
       'h': 128.94572501638044,
       'j': 87.57853618324526},
 'j': {'a': 65.62011886609167,
       'b': 90.44888059008801,
       'c': 116.45600027478189,
       'd': 45.628938186199335,
       'e': 100.18482919085105,
       'f': 73.25298628724975,
       'g': 97.44229061347029,
       'h': 93.5467797414748,
       'i': 87.57853618324526}}

# Question 4
## How to split a text column into two separate columns?


Enter

In [10]:
df = pd.DataFrame(["STD, City   State",
"33, Kolkata,West Bengal",
"44, Chennai,Tamil Nadu",
"40, Hyderabad,Telengana",
"80, Bangalore,Karnataka"], columns=['row'])
print(df)

                       row
0        STD, City   State
1  33, Kolkata,West Bengal
2   44, Chennai,Tamil Nadu
3  40, Hyderabad,Telengana
4  80, Bangalore,Karnataka

Split the string column in df to form a dataframe with 3 columns as shown.

Example output:

```
  STD        City        State
0  33     Kolkata  West Bengal
1  44     Chennai   Tamil Nadu
2  40   Hyderabad    Telengana
3  80   Bangalore    Karnataka
```

In [54]:
# Answer 4

import pandas as pd

# Sample DataFrame
df = pd.DataFrame(["STD, City   State",
                   "33, Kolkata,West Bengal",
                   "44, Chennai,Tamil Nadu",
                   "40, Hyderabad,Telengana",
                   "80, Bangalore,Karnataka"], columns=['row'])

heading = df.iloc[0]['row'].split()
print(f"Extracted heading would be: {heading}") # ['STD,', 'City', 'State']


df.drop(index=0, inplace=True)


df[heading] = df['row'].str.split(', |,', expand=True)

df.drop(columns=['row'], inplace=True)
df.reset_index(drop=True, inplace=True)

print(df)

Extracted heading would be: ['STD,', 'City', 'State']
  STD,       City        State
0   33    Kolkata  West Bengal
1   44    Chennai   Tamil Nadu
2   40  Hyderabad    Telengana
3   80  Bangalore    Karnataka