<h2><center>THE CHINESE UNIVERSITY OF HONG KONG<br /> 
    Department of Mathematics<br />
 MATH4280<br />
    Innovation and Design in Big Data Analytics</center></h2>

# LAB ASSIGNMENT ACTIVITY 2

In [1]:
import pandas as pd
import numpy as np

# Question 1
## How to find all the local minima (or troughs) in a 1d array?
Write a function to find all the troughs in a 1D numpy array `a`. Troughs are points surrounded by larger values on both sides.

(Hence elements at both ends will not be considered as troughs in any case.)

1st Example input:

```
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
```

1st Example output:

```
 array([3, 6])
```

where, 3 and 6 are the positions of peak values 1 and 0.

2nd Example input:

```
np.random.seed(100)
a = np.random.randint(10, size=100)
```

2nd Example output:

```
array([ 2,  5,  7, 13, 16, 19, 21, 23, 26, 32, 37, 41, 45, 47, 49, 51, 54,
       56, 58, 60, 62, 66, 68, 75, 77, 79, 82, 84, 88, 90], dtype=int64)
```

In [2]:
## answer 1

def find_troughs(a):
    # input parameter: a is our numpy list.
    # output: returning index of elements which condition met. 
    indices = []
    
    i=1
    
    print(f"\nLength of the vector is: {len(a)}")
    
    # While numpy arrays are zero-indexed, [0,9] is the boundary of the full index.
    # The first and last element won't be troughs. So our loop will run in the range of [1,8]. 
    
    # testing condition:
    # compare the actual value from the index i: a[i], and compare toe neighbors a[i-1], a[i+1]
    # condition: left elt. and right elt larger value 
    # return position of the elt which the condition holds true
    
    # while loop: 
    # Start: we set i = 1 to skip the first element.
    # End: we set the last while loop to run when i = 8,
    # Total: we test 8 elements for 'whether it is a trough' condition.
    
    # So in the for-loop in the code, len(a) - 2 = 8, 
    # So, at the end the code would run the loop in the range of [1,8], which fits our initial setting. 
    
    def is_trough(a,i):
        if (a[i] < a[i-1] and a[i] < a[i+1]):
            return True
        else:
            return False
    
    while i <= len(a)-2:
        
        # printing the current running element for debugging purpose.
        # print(f"current running elt{i}...")
        
        if is_trough(a,i):
            indices.append(i)
        i = i+1
    return indices

def testing_package(a):
    print(f"The original set of random number is: {a}")
    trough_indices = find_troughs(a)
    return a[trough_indices].astype('int64')

print("1st example input (predefined set of values):")
# 1st exampel input:
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])

print("Example output:")
testing_package(a)

1st example input (predefined set of values):
Example output:
The original set of random number is: [1 3 7 1 2 6 0 1]

Length of the vector is: 8

array([1, 0])

In [3]:
print("2nd example input (random 100 numbers):")
# 2nd example input:
# With seed = 100, it set a fixed set of random numbers in the global state of numpy.
np.random.seed(100)
b = np.random.randint(10, size=100)

print("Example output:")
testing_package(b)

2nd example input (random 100 numbers):
Example output:
The original set of random number is: [8 8 3 7 7 0 4 2 5 2 2 2 1 0 8 4 0 9 6 2 4 1 5 3 4 4 3 7 1 1 7 7 0 2 9 9 3
 2 5 8 1 0 7 6 2 0 8 2 5 1 8 1 5 4 2 8 3 5 0 9 3 6 3 4 7 6 3 9 0 4 4 5 7 6
 6 2 4 2 7 1 6 6 0 7 2 3 5 4 2 4 3 7 9 0 0 5 9 6 6 5]

Length of the vector is: 100

array([3, 0, 2, 0, 0, 2, 1, 3, 3, 0, 2, 0, 0, 2, 1, 1, 2, 3, 0, 3, 3, 3,
       0, 2, 2, 1, 0, 2, 2, 3])

# Question 2
## How to change the order of columns of a dataframe?

Enter

In [4]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df.head()

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

## Remark: 

- Be careful about the dataframe parameter. Use the old dataframe! Otherwirse the value of the columns won't swap. 
- The following is a wrong code: 
- ![Alt text](image.png)

## Question 2a
In `df`, interchange columns `'a'` and `'c'`.

In [5]:
## answer 2a

hard_code = ['c','b','a','d','e']
new_df = pd.DataFrame(df, columns=hard_code)
new_df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

## Question 2b

Create a generic function to interchange two columns, without hardcoding column names. 

i.e. a function that takes three arguments (dataframe, column name 1,  column name 2) and outputs the resultant dataframe.

In [6]:
## answer 2b

# method 1 would be creating another dataframe, but changing the order of 'columns'
# if the solution is "hand-writing a new-order and plug into it" is easy. 

# Let's try to fetch the header of the dataframe, and then get the index of the heade, and then reverse their order instead.

# learning objective:
# 1. .tolist(): index is not mutable, which means we need to convert it back to a python list to use subscripting.
# 2. We need to use python list either way on the new index creation statement..

def swap_index_of_columns(dataframe, col_a_name, col_b_name):
    all_col_index = dataframe.columns.tolist() #.tolist()
    col_a_index = all_col_index.index(col_a_name)
    col_b_index = all_col_index.index(col_b_name)
    
    # create new index
    all_col_index[col_a_index] = col_b_name
    all_col_index[col_b_index] = col_a_name
    new_index = all_col_index
    return new_index

def swap_columns(dataframe, col_a_name, col_b_name):
    new_column_index = swap_index_of_columns(dataframe, col_a_name, col_b_name)
    new_df = pd.DataFrame(dataframe, columns=new_column_index)
    return new_df

a = df.columns
print(f"the column names are: {a}")

col_a_name = 'a'
col_b_name = 'c'
print(f"the column that we are going to swap is: {col_a_name} and {col_b_name}")

new_df = swap_columns(df,col_a_name, col_b_name)
new_df

the column names are: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
the column that we are going to swap is: a and c

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

## Question 2c
Sort the columns in reverse alphabetical order, that is colume `'e'` first through column `'a'` last.

In [7]:
## answer 2c

def swap_index_of_columns(dataframe,):
    all_col_index = dataframe.columns #.tolist()
    sorted_col_index = all_col_index.sort_values()
    reverse_sorted_index = sorted_col_index[::-1]
    return reverse_sorted_index

def swap_columns(dataframe):
    new_column_index = swap_index_of_columns(dataframe)
    new_df = pd.DataFrame(dataframe, columns=new_column_index)
    return new_df

# test 1
a = df.columns
print(f"the column names are: {a}")
new_df = swap_columns(df)
new_df

the column names are: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

In [8]:
# test 2

another_new_df = pd.DataFrame(df, columns=['d,','e','a','b','c'])
print(another_new_df)
print(f"the column names are: {a}")
new_df = swap_columns(df)
new_df

   d,   e   a   b   c
0 NaN   4   0   1   2
1 NaN   9   5   6   7
2 NaN  14  10  11  12
3 NaN  19  15  16  17
the column names are: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

## Question 3

## How to create a new column that contains the row number of nearest column by euclidean distance?

Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

Enter

- Euclidean distance: 

- ![Alt text](image-1.png)

In [10]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df

    p   q   r   s
a  91  35  68  95
b  79  55  78  85
c   2  15  34  21
d  41  25  94  59
e  29  83  83   8
f  95   3  64   3
g  88  18  91  94
h  97  75  54  31
i  68  29  38  83
j  18  11  14  82

Example output:

```
     p   q   r   s nearest_row   dist
 a  57  77  13  62           i  116.0
 b  68   5  92  24           a  114.0
 c  74  40  18  37           i   91.0
 d  80  17  39  60           i   89.0
 e  93  48  85  33           i   92.0
 f  69  55   8  11           g  100.0
 g  39  23  88  53           f  100.0
 h  63  28  25  61           i   88.0
 i  18   4  73   7           a  116.0
 j  79  12  45  34           a   81.0
 ```

In [ ]:
# get the list of index from the dataframe: 

lis = df.index.tolist()
print(lis)

print("\n")

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# Iterate over rows and print each row
for index, row in df.iterrows():
    
    # exploring the dataset
    print(row) # row is a Series, elt is integer. 
    print(index) # index is the coordinate 
    for elt in row:
        print(elt)
        print(type(elt))

row    STD, City   State
Name: 0, dtype: object
0
STD, City   State
<class 'str'>
row    33, Kolkata,West Bengal
Name: 1, dtype: object
1
33, Kolkata,West Bengal
<class 'str'>
row    44, Chennai,Tamil Nadu
Name: 2, dtype: object
2
44, Chennai,Tamil Nadu
<class 'str'>
row    40, Hyderabad,Telengana
Name: 3, dtype: object
3
40, Hyderabad,Telengana
<class 'str'>
row    80, Bangalore,Karnataka
Name: 4, dtype: object
4
80, Bangalore,Karnataka
<class 'str'>

In [ ]:
# keeping the data in a dictionary instead: 

coor_dict = {}

for index, row in df.iterrows():
    
    coor_dict[index] = row

print(coor_dict)

{'a': p    84
q    77
r    12
s    38
Name: a, dtype: int64, 'b': p    80
q    10
r    12
s    31
Name: b, dtype: int64, 'c': p    70
q    66
r    52
s    27
Name: c, dtype: int64, 'd': p    56
q    38
r    90
s    37
Name: d, dtype: int64, 'e': p    40
q    83
r     4
s    34
Name: e, dtype: int64, 'f': p    38
q    42
r    54
s     7
Name: f, dtype: int64, 'g': p    15
q    19
r    19
s    95
Name: g, dtype: int64, 'h': p    20
q    85
r    74
s    16
Name: h, dtype: int64, 'i': p    78
q    26
r    48
s    38
Name: i, dtype: int64, 'j': p    58
q    27
r    60
s    54
Name: j, dtype: int64}

In [24]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))


lis = df.index.tolist() 

"""
# print(lis): ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
"""

# Iterate over rows and print each row
coor_dict = {}
for index, row in df.iterrows(): 
    # 1. df.iterrows() returns a generator. 2. it splits each row into 2 parts. index and row
    coor_dict[index] = row


from math import sqrt

def calculate_distance(current_point,current_coordinate,each_other_point, each_other_coordinate):
    """_summary_

    Args:
        current_point_coordinate (pd.Series): ...
        other_point_coordinate (dict): ...

    Returns:
        _type_: _description_
    """

    # Now, current_point_coordinate and point are pd.Series.
    
    a = current_coordinate['p'] - each_other_coordinate['p']
    b = current_coordinate['q'] - each_other_coordinate['q']
    c = current_coordinate['r'] - each_other_coordinate['r']
    d = current_coordinate['s'] - each_other_coordinate['s']
    dist = sqrt(a**2 + b**2 + c**2 + d**2)

    return dist            


def find_min_values(data):
    min_values = {}
    for key, inner_dict in data.items():
        min_key = min(inner_dict, key=inner_dict.get)
        min_value = inner_dict[min_key]
        min_values[key] = {min_key: min_value}
    return min_values

def book_keeping_distance(dict_of_info):
    
    list_of_points: list[str] = dict_of_info.keys() # list of points: ['a','b',...]
    
    book_keeping_dict = {} # expect to contain - {point_N : nearest_point, min_distance}
    
    # choosing the subject points 
    for point in list_of_points:
        
        # chopping out 2 parts of data from the dataframe
        temp_dict = dict_of_info.copy()
        
        # prepare 2 sets of coordinates
        current_point_coor_pack = temp_dict.pop(point) 
        
        # print(f" current_point_coor_pack: {current_point_coor_pack}")
        
        # Remaining pairs 
        other_points_coordinate =temp_dict
        
        # this dict tries to keep the shortest distance point and its distance.
        min_distance = np.inf # key is the target point, and its distance
        min_dist_point = ""
        
        min_record = {}
        
        # for-loop run totally len(list_of_points) = around 10 times.
        for each_other_point, each_other_coordinate in other_points_coordinate.items(): # 'point' and 'current_point_coordinate' are pd.Series. 
            
            current_point: str = current_point_coor_pack.name
            current_coordinate = current_point_coor_pack
            
            dist = calculate_distance(current_point,current_coordinate,each_other_point, each_other_coordinate)
            
            min_distance = dist
            min_dist_point = each_other_point

            min_record[min_dist_point] = min_distance

        book_keeping_dict[point] = (min_record)
    return book_keeping_dict
        
shortest_distances = find_min_values(book_keeping_distance(coor_dict))


# Convert the dictionary to a DataFrame
df2 = pd.DataFrame([(outer_key, inner_key, value) for outer_key, inner_dict in shortest_distances.items() for inner_key, value in inner_dict.items()],
                   columns=['outer_key', 'nearest_row', 'dist'])

# Merge the two DataFrames based on common keys
result = pd.merge(df, df2, left_index=True, right_on='outer_key', how='left')

# Set the 'outer_key' as the index and drop the 'outer_key' column
result.set_index('outer_key', inplace=True)
result.index.name = None

print(result)

# Treat every point as a space

    p   q   r   s nearest_row       dist
a  86  45  91  53           e  53.404120
b  42   1  61  57           e  46.989360
c  85  88   5   6           j  38.613469
d  16  70  94  15           i  43.588989
e  74   5  73  25           b  46.989360
f  21  22  50  92           g  35.156792
g  35  38  22  92           f  35.156792
h   1  83   3  23           j  53.113087
i  50  86  92  37           d  43.588989
j  53  93   4  27           c  38.613469

# Question 4
## How to split a text column into two separate columns?


Enter

In [14]:
df = pd.DataFrame(["STD, City   State",
"33, Kolkata,West Bengal",
"44, Chennai,Tamil Nadu",
"40, Hyderabad,Telengana",
"80, Bangalore,Karnataka"], columns=['row'])

# method 1 of reformatting data: 
df['row_1']
df.row_1

# method 2
df['row_1'].str.upper()

print(df)

KeyError: 'row_1'

Split the string column in df to form a dataframe with 3 columns as shown.

Example output:

```
  STD        City        State
0  33     Kolkata  West Bengal
1  44     Chennai   Tamil Nadu
2  40   Hyderabad    Telengana
3  80   Bangalore    Karnataka
```

In [ ]:
# Answer 4